[Unit]
Documentation=https://github.com/subgraph/fw-daemon
Description=Subgraph Firewall Daemon

[Service]
Environment="GODEBUG=cgocheck=0"
ExecStartPre=/usr/bin/install -m 750 -d /var/run/fw-daemon
ExecStart=/usr/sbin/fw-daemon

[Install]
WantedBy=multi-user.target
